.trainsContainer {
  width: 500px;
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
}

.nextTrains {
  width: 50%;
  text-align: center;
}

.linesContainer {
  width: 1000px;
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-flow: row wrap;
}

.stationLines {
  width: 50%;
}

.lineHeader {
  text-align: center;
}
